<div class="flex-auto -mt-px pt-4 sm:pt-6">
    <div class="w-full max-w-screen-xl mx-auto space-y-8">
        <!-- TODAY -->
        <section>
            <h2 class="text-2xl font-semibold px-2 pb-4">Today Report</h2>
            <div
                *ngIf="dailyData && prevDailyData"
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0"
            >
                <!-- Total Revenue -->
                <app-display-item
                    title="Total Revenue"
                    unit="Kyats"
                    [current]="int(dailyData?.total_revenue)"
                    [previous]="int(prevDailyData?.total_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Saloon Revenue -->
                <app-display-item
                    title="Total Saloon Revenue"
                    unit="Kyats"
                    [current]="int(dailyData?.total_saloon_revenue)"
                    [previous]="int(prevDailyData?.total_saloon_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Facial Revenue -->
                <app-display-item
                    title="Total Facial Revenue"
                    unit="Kyats"
                    [current]="int(dailyData?.total_facial_revenue)"
                    [previous]="int(prevDailyData?.total_facial_revenue)"
                    [isCurrency]="true"
                ></app-display-item>

                <!-- Total Discount -->
                <app-display-item
                    title="Total Discounts"
                    unit="Kyats"
                    [current]="int(dailyData?.total_discount)"
                    [previous]="int(prevDailyData?.total_discount)"
                    [isCurrency]="true"
                ></app-display-item>
            </div>
        </section>
    </div>
</div>
